#header {
    background: linear-gradient(101deg, #050050, rgb(133, 111, 210), #211c72, rgb(69, 158, 136));
    border-bottom: 3px solid rgb(189, 126, 126);
    height: 10%;

    #logo {
        color: aliceblue;
        margin: 0;
        padding: 10px;
        padding-left: 5%;
    }
}