$modal-height: 83vh;
$modal-width: 60vw;
$modal-out__top-height: 5vh;
$modal-out__bottom-height: 100vh - $modal-out__top-height - $modal-height;
$modal-out__width: (100vw - $modal-width) / 2;

@mixin modal-out--dark {
    background-color: rgba(0, 0, 0, 0.74);
    position: absolute;
}

.modal-box {
    position: fixed;
    z-index: 2;
}

.modal-out {
    height: 100vh;
    width: 100vw;
    position: absolute;
            
    &__top {
        @include modal-out--dark;
        height: $modal-out__top-height;
        width: 100vw;
        top: 0;
        left: 0;
    }

    &__right {
        @include modal-out--dark;
        height: $modal-height;
        width: $modal-out__width;
        top: $modal-out__top-height;
        right: 0;
    }

    &__bottom {
        @include modal-out--dark;
        height: $modal-out__bottom-height;
        width: 100vw;
        bottom: 0;
        left: 0;
    }

    &__left {
        @include modal-out--dark;
        height: $modal-height;
        width: $modal-out__width;
        top: $modal-out__top-height;
        left: 0;
    }
}

.modal {
    background-color: rgba(253, 227, 245, 0.95);
    height: $modal-height;
    width: $modal-width;
    overflow: auto;
    position: absolute;
    top: $modal-out__top-height;
    left: $modal-out__width;

    .item-row {
        margin-bottom: 20px;
    }

    &__name {
        font-size: 2.5rem;
        border-bottom: 1px solid gray;
        padding-top: 20px;
        padding-bottom: 20px;
        word-wrap: break-word;
    }

    &__status {
        font-size: 1.4rem;
        width: 8rem;
    }

    &__performance {
        font-size: 1.5rem;
    }

    &__desc {
        font-size: 1.3rem;
        padding: 0 20%;
        padding-bottom: 20px;
        word-wrap: break-word;
    }

    &__contacts {
        font-size: 1.2rem;
        padding: 0 20%;

    }

    .btn--left {
        position: fixed;
        left: calc(#{$modal-out__width} + 16px);
        bottom: $modal-out__bottom-height;
    }
    
    .btn--right {
        position: fixed;
        right: $modal-out__width;
        bottom: $modal-out__bottom-height;
        z-index: 5;
    }

    &--input {
        padding: 10px;

        .item-row{
            margin-left: 5px; 
        }

        &__status {
            width: 200px;
        }

        &__desc {
            height: 100px;
            width: 80%;
            overflow: hidden;

            .desc {
                height: 100%;
                width: 100%;
            }
        }

        &__contacts {
            width: 80%;

            .contact {
                width: 32.5%;

                @media screen and (max-width: 1100px) {
                    width: 98%;
                }
            }
        }

        &__alert {
            padding: 0 10%;
        }
    }
}