$modal-height: 83vh;
$modal-width: 60vw;
$modal-out__top-height: 5vh;
$modal-out__bottom-height: 100vh - $modal-out__top-height - $modal-height;
$modal-out__width: (100vw - $modal-width) / 2;

@mixin modal-dark {
    background-color: rgba(0, 0, 0, 0.74);
    position: absolute;
}

.modal-box {
    position: fixed;
}

.modal-out {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
            
    &__top {
        @include modal-dark;
        height: $modal-out__top-height;
        width: 100vw;
        top: 0;
        left: 0;
    }

    &__right {
        @include modal-dark;
        height: $modal-height;
        width: $modal-out__width;
        top: $modal-out__top-height;
        right: 0;
    }

    &__bottom {
        @include modal-dark;
        height: $modal-out__bottom-height;
        width: 100vw;
        bottom: 0;
        left: 0;
    }

    &__left {
        @include modal-dark;
        height: $modal-height;
        width: $modal-out__width;
        top: $modal-out__top-height;
        left: 0;
    }
}

.modal {
    background-color: rgba(253, 227, 245, 0.93);
    height: $modal-height;
    width: $modal-width;
    position: absolute;
    top: $modal-out__top-height;
    left: $modal-out__width;
    z-index: 2;

    &.grid--modal {
        grid-template-rows: 10% 10% 10% 20% 20% 10% 1fr;
    
        .modal__alert {
            margin: auto;
            width: 70%;
        }
        
        .modal__buttons {
            position: relative;
            margin-bottom: 0;
            width: 100%;
        }
    }   
}

.modal--input__desc {
    height: 90%;
    width: 30vw;
}




