// Import only chosen Bootstrap styles
// Button and input styles 
@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/_mixins.scss';
@import '../../node_modules/bootstrap/scss/_button-group.scss';
@import '../../node_modules/bootstrap/scss/_buttons.scss';
@import '../../node_modules/bootstrap/scss/_input-group.scss';

// Custom
@import 'grid';
@import 'modal';
@import 'company';

body {
    margin: 0;

    #page {
        min-height: 100vh;

        #header {
            background: linear-gradient(101deg, #050050, rgb(133, 111, 210), #211c72, rgb(69, 158, 136));
            border-bottom: 3px solid rgb(189, 126, 126);
            height: 10%;

            #logo {
                color: aliceblue;
                margin: 0;
                padding: 10px;
                padding-left: 5%;
            }
        }
    }
}

.item-row {
    margin: 5px auto 5px auto;
    overflow: auto;
    text-align: center;
}

.btn--left {
    position: absolute;
    left: 20%;
    bottom: 20px;
}

.btn--right {
    position: absolute;
    right: 20%;
    bottom: 20px;
}

.btn--center {
    margin: auto;
}