// Import only chosen Bootstrap styles
// Button and input styles 
@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/_mixins.scss';
@import '../../node_modules/bootstrap/scss/_button-group.scss';
@import '../../node_modules/bootstrap/scss/_buttons.scss';
@import '../../node_modules/bootstrap/scss/_input-group.scss';

// Custom
@import 'modal';

body {
    margin: 0;

    #page {
        min-height: 100vh;
        min-width: 100vw;

        #header {
            background-color: aliceblue;
            padding: 20px;
            height: 10vh;
        }
        
    }
}

.grid--main {
    grid-template-columns: 18% 70%;

    .control-panel {
        background-color: rgb(247, 237, 226);
        grid-column: 1;
        padding-top: 50px;
        min-height: 1fr;
    }

    #alert {
        color: rgb(189, 17, 17);
        padding: 20px;
    }
    
    .company-box {
        grid-column: 2;

        &.grid--company {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 5px;
        }   
    }
}

.company {
    border: 1px solid black;
    padding: 10px;

    .company__name {
        font-size: 1.5em;
    }
}

.grid {
    display: grid;
}

.item-row {
    margin: 5px auto 5px auto;
    overflow: auto;
    text-align: center;
}

.left {
    position: absolute;
    left: 20%;
    bottom: 20px;
    z-index: 3;
}

.right {
    position: absolute;
    right: 20%;
    bottom: 20px;
    z-index: 3;
}